---
import LandingAd1 from "../ads/Landing-ad-1.astro";
import LandingAd2 from "../ads/Landing-ad-2.astro";

---

<div class="flex w-full justify-around items-center pt-20 flex-wrap gap-10">
    <LandingAd1 client:load/>
    <LandingAd2 client:load/>
</div>