---
---

<main class="flex flex-wrap justify-around items-center mt-10">
    <section class="max-w-md m-5 flex flex-col items-center gap-3">
        <h1 class="text-4xl font-semibold text-[var(--secondary)]">Sobre nosotros</h1>
        <p class="text-lg font-stretch-expanded text-[var(--thirty)]">
            Somos expertos en internet que decidimos que los brainrots italianos
            son demasiado legendarios como para ser olvidados. En lugar de dejar 
            que se desvanezcan con el tiempo, los reunimos aquí: 
            brillantes, extraños y, a veces, completamente malditos.
    </section>
    <section class="max-w-md m-5 flex flex-col items-center gap-3">
        <h1 class="text-4xl font-semibold text-[var(--secondary)]">Nuestra mision</h1>
        <p class="text-lg font-stretch-expanded text-[var(--thirty)]">
            Para asegurarnos de que cada brainrot italiano, desde el icónico
             hasta el totalmente aleatorio, tenga su momento de protagonismo. 
             Estamos aquí para archivar el caos, celebrar el sin sentido y mantener
              los memes vivos para las futuras generaciones de navegantes.
        </p>
    </section>
</main>