---

---
<footer class="w-full border-2 border-t-[var(--thirty)] border-b-0 border-l-0 border-r-0 
    bg-[var(--primary)] text-center p-5 font-dm text-[var(--thirty)] mt-15">
    <div class="flex flex-col md:flex-row justify-around items-center text-sm md:text-normal gap-2">
        <span>@TheItalianBrainrotAlmanac</span>
        <span class="text-center">Desarrollado por Jero Aguirre, 2025.</span>
        <div class="flex justify-between items-center mt-2 gap-3">
            <img src="/instagram.svg" alt="instagram logo" class="w-7 h-7 mx-auto"/>
            <img src="/tiktok.svg" alt="twitter logo" class="w-7 h-7 mx-auto"/>
        </div>
    </div>
</footer>