---
import AboutAndMission from '../components/landing/english/AboutAndMission.astro'
import Footer from '../components/landing/english/Footer.astro'
import Hero from '../components/landing/english/Hero.astro'
import ShowingLandingAds from '../components/landing/ShowingLandingAds.astro'
import AboutAndMissionEs from '../components/landing/spanish/AboutAndMissionEs.astro'
import FooterEs from '../components/landing/spanish/FooterEs.astro'
import HeroEs from '../components/landing/spanish/HeroEs.astro'
import { getHeaders } from '../functions/getHeaders'
import Layout from '../layouts/Layout.astro'

export const prerender = false

const isSpainLanguage = await getHeaders({ request: Astro.request })
---

<Layout title="The Brainrot's Almanac">
	<div class="min-h-screen justify-between w-full bg-[var(--primary)] flex flex-col">
		{!isSpainLanguage ?
			<Hero />
			<AboutAndMission />
			<ShowingLandingAds client:load />
			<Footer />
		:
			<HeroEs />
			<AboutAndMissionEs />
			<ShowingLandingAds client:load />
			<FooterEs />	
		}
	</div>
</Layout>
