---

---

<header class="py-3 bg-[var(--secondary)] h-[60px] w-full flex justify-bewteen items-center shadow-[0_20px_60px_rgba(126,87,137,0.8)]">
    <div class="flex items-center w-1/2">
        <img src="/logo-white.svg" alt="logo-white" class="w-17 h-17 p-5">
        <p class="hidden sm:flex text-sm font-semibold text-[var(--letters)]">The Brainrot almanac</p>
    </div>    
    <nav class="flex justify-end items-center w-full">
        <ul class="flex gap-5 mr-10 text-[var(--letters)] font-semibold text-sm">
            <li><a href="/" class="no-underline text-[var(--letters)] transition-colors hover:text-[var(--h-color)] duration-200 ">Home</a></li>
            <li><a href="/brainrots" class="no-underline text-[var(--letters)] transition-colors hover:text-[var(--h-color)] duration-200 ">Brainrots</a></li>
            <li><a href="/docs-api" class="no-underline text-[var(--letters)] transition-colors hover:text-[var(--h-color)] duration-200 ">API</a></li>
        </ul>
    </nav>
</header>