---
import { ClientRouter } from 'astro:transitions'
import '../styles/global.css'
import { getHeaders } from '../functions/getHeaders'
import HeadersMetaSeoEs from '../components/SEO/headersMetaSeoEs.astro'
import HeadersMetaSeo from '../components/SEO/headersMetaSeo.astro'

const { title }	= Astro.props

const isSpainLanguage = await getHeaders({ request: Astro.request })
---

<!doctype html>
<html lang={isSpainLanguage ? 'es' : 'en'}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />

		{isSpainLanguage ? <HeadersMetaSeoEs /> : <HeadersMetaSeo />}

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
